/*******************************
          Base Styles
*******************************/

.nav-bar {
  background: orange;
  padding: 2rem;
  margin-bottom: 2rem;
}

.nav-bar-el {
  margin: 0 12rem;
  height: 3rem;
}

#button {
  position: fixed;
  right: 0;
}


/*******************************
      Car Card Styles
*******************************/

#output {
  width: 100%;
}

.cards {
  border: 1px solid black;
  margin: 1.5rem;
  box-sizing: border-box;
  background: linear-gradient(135deg, black, white);
  color: white;
}


/*******  ClassList styles ************/

.highlight-card {
  border-width: medium;
  background: lightgray;
}

.centerTextarea {
  margin: 0 12rem;
}
